*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
/third_party/opencv/
/third_party/opencv-4.5.5-android-sdk.zip
gradle/wrapper/dists/**/gradle-6.7/
gradle/wrapper/dists/**/*.lck
gradle/wrapper/dists/**/*.ok
gradle/wrapper/dists/**/*.part
*.apk
*.aab
!/dist/*.apk
